{% extends 'base.html' %}

{% block head %}
<body>
    <div class="profile-nav-container">
        <a href="{% url 'explore' %}">Home</a>
    </div>
    <h1>Add Item</h1>
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-group">
            <label for="image">Image:</label>
            {{ ProductsForm.image }}
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            {{ ProductsForm.name }}
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            {{ ProductsForm.price }}
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            {{ ProductsForm.description }}
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            {{ ProductsForm.category }}  <!-- Render the category dropdown here -->
        </div>

        <div class="form-group">
            <label for="color">Color(s):</label>
            {{ ProductsForm.color }} 
        </div>

        <div class="form-group">
            <label for="quality">Condition:</label>
            {{ ProductsForm.quality }} <!-- Render the Quality dropdown here -->
        </div>

        <div class="form-group">
            <label for="brand">Brand(s):</label>
            {{ ProductsForm.brand }}  
        </div>
        
        <!-- New optional field for availability time span -->
        <div class="form-group">
            <label for="availability_duration">Set Availability Duration (Optional):</label>
            {{ ProductsForm.availability_duration }}
            <p class="form-help">Specify the availability time in hours. Leave blank for indefinite availability.</p>
        </div>

        <div class="form-group">
            <input class="button" type="submit" value="Add in Item">
        </div>
    </form>

</body>
{% endblock %}