{% extends 'base.html' %}

{% block head %}
<body>
    <div class="header-container">
        <div class="nav-links">
            <a href="{% url 'add_listing' %}"> Add a listing  </a> 
            <a href="{% url 'profile_settings' %}">Profile </a>
            <a href="{% url 'hold_products' %}"> Hold Products  </a>
            <a href="{% url 'logout' %}"> Logout </a> 
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'wallet' %}">Wallet</a>
            <a href="{% url 'about' %}">About</a>
        </div>
    </div>
    

    <div class="sidebar-container">
        <div class="sidebar">
            <form method="GET" action="{% url 'listings' %}">
                <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                <button type="submit">Search</button>

                <!-- Location Filter -->
                <div class="filter-section">
                    <label for="location">Location:</label>
                    <div class="dropdown">
                        <input type="radio" id="the_loop" name="location" value="loop">
                        <label for="the_loop">The Loop</label>
                        <input type="radio" id="lincoln_park" name="location" value="lincoln_park">
                        <label for="lincoln_park">Lincoln Park</label><br>
                    </div>
                </div>
                
                <!-- Price Filter -->
                <div class="filter-section">
                    <label for="price">Sort by Price:</label>
                    <div class="dropdown">
                        <input type="radio" id="min" name="price" value="min">
                        <label for="min">Lowest first</label><br>
                        <input type="radio" id="max" name="price" value="max">
                        <label for="max">Highest first</label>
                    </div>
                </div>
                
                <!-- Date Listed Filter -->
                <div class="filter-section">
                    <label for="date_listed">Date Listed:</label>
                    <div class="dropdown">
                        <input type="radio" id="newest" name="date_listed" value="newest">
                        <label for="newest">Newest</label><br>
                        <input type="radio" id="oldest" name="date_listed" value="oldest">
                        <label for="oldest">Oldest</label>
                    </div>
                </div>
            </form>
        </div>


        <div class="listing-grid">
            {% for product in products %}
            <!-- Listing cards will be displayed here -->
            <a href="{% url 'product_detail' product.id %}" class="listing-card-link">
                <div class="listing-card">
                    <p><img src="{{ product.image.url }}" width="200" height="200"/></p>
                    <p>Product Name: {{ product.name }}</p>
                    <p>Location: {{product.user.profile.get_campus_display}}</p>
        
                    <!-- Display product availability if set -->
                    {% if product.available_until %} 
                        <p><strong>Available Until: {{ product.available_until }}</strong></p>
                    {% endif %}
                    
                    <!-- Link to the user's profile with all their listings -->
                    <a href="{% url 'user_listings' product.user.id %}" > {{ product.user.username }} </a>
                    
                    <!-- Add to Cart Button -->
                    <form method="POST" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Add to Cart</button>
                    </form>

                   <!-- Archive Button -->
                   <form action="{% url 'product_saved' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="saved_id" value="{{ product.id }}">
                        <button type="submit">Save</button>
                    </form>
                </div>
            </a>
            {% empty %}
            <h3>Currently No Products</h3>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
