{% extends 'base.html' %}

{% block head %}
<body>
    <div class="header-container">
        <div class="nav-links">
            <a href="{% url 'explore' %}" class="btn btn-primary">Home </a>
            <a href="{% url 'add_listing' %}"> Add a listing  </a> 
            <a href="{% url 'profile_settings' %}">Profile </a>
            <a href="{% url 'logout' %}"> Logout </a>
            <a href="{% url 'cart' %}">Cart</a>
        </div>
    </div>

    <h1>Your Products on Hold</h1>
    {% if products %}
        <div class="listing-grid">
           {% for product in products %}
        <!-- Listing cards will be displayed here -->
                <div class="listing-card">
                    <p><img src="{{ product.image.url }}" width="200" height="200"/></p>
                    <p>Product Name: {{ product.name }}</p>
                    <p>Info: {{ product.description }}</p>
                    <p>Price: ${{ product.price }}</p>
                    <p>Made Available: {{ product.made_available }}</p>
                    <a href="{% url 'product_restore' product.id %}">Place back on Market</a> 
                    
                </div>
                {% empty %}
                <h3>Currently No Products</h3>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ user.username }} has not put any products on hold yet.</p>
        {% endif %}
</body>
{% endblock %}