{% extends 'base.html' %}

{% block head %}
{% load static %}

<div class="profile-nav-container">
    <a href="{% url 'explore' %}"> Home</a>
</div>
<h1>Wallet</h1>

<h2>Balance: ${{wallet.balance}}</h2>

<form method = 'POST'>
    {% csrf_token %}
    {{form.as_p}}
    <label>CardNumber</label>
    <input type='value' required placeholder='Enter CardNumber'>
</br>
    <label>Expire Date</label>
    <input type='date' required>
    <label>CVC</label>
    <input type='value' required placeholder='CVC'>
    
    <button type='submit'>Add Money</button>
</form>


{% endblock %}